/* CSS declarations go here */
#scoresBar {
    position:fixed;
    top:0%;
    width:100%;
    height:50px;
    background-color:#f06d06;
    color:#fff;
    left:0%;
}

.page {
    width:10%;
    height:100%;
    margin-top:0;
    margin-right:10px;
    display:inline-block;
    color:#fff;
    background-color:#f06d06;
    border-radius:10px;
    padding:10px;
}

.pages {
    max-height:50%;
    padding:10px;
    width:100%;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    position:fixed;
    bottom:0;
}

form {
    overflow:hidden;
    height:300px%;
    animation:wiggle 0.5s;
    width: 40%;
    margin-top:5%;
}

@keyframes wiggle {
    0% {transform:rotate(4deg);}
    50% {transform:rotate(-4deg);}
    100% {transform:rotate(4deg);}
}

form div {
    position: relative;
    overflow: hidden;
    height:25%;
}

form input {
    width: 100%;
    height:100%;
    border: 2px solid gray; 
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;
}

form label {
    position: absolute;
    top: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: 0.2s;
    padding-left:10px;
    color:#B5B4B3;
}

input:focus + label {
    top: 100%;
    margin-top: -25px;
    background: #f06d06;
    color: white;
    font-size: 100%;
    padding: 2px 20px;
    z-index: 2;
    text-transform: uppercase;
}

input:valid {
    background: white;
}

.submit {
    background :#f06d06;
    color:white;
}

#loader div {
  background-color:#ccc;
  height:100px;
  width:15px;
  position:absolute;
  animation: rotateLoader 4s infinite;
}

#loader div:after {
  content:"";
  background-color:#f06d06;
  height:100px;
  width:15px;
  position:absolute;
  transform-origin: bottom center;
  animation: loader 4s infinite;
  transform:rotateX(90deg);
}

@keyframes rotateLoader {
  50% {transform:rotateZ(180deg);}
}

@keyframes loader {
  50% {transform:rotateX(0deg);}
  100% {transform:rotateX(90deg);}
}

#loader div:nth-child(2) {
  transform:rotateZ(30deg);
}

#loader div:nth-child(3) {
  transform:rotateZ(60deg);
}

#loader div:nth-child(4) {
  transform:rotateZ(90deg);
}

#loader div:nth-child(5) {
  transform:rotateZ(120deg);
}

#loader div:nth-child(6) {
  transform:rotateZ(150deg);
}

#loader { 
  position:fixed;
  top:55%;
  left:50%;
  margin-left:-7px;
  display:none;
  opacity:0;
}

.title {
    display:block;
    text-align:right;
    float:right;
    width:100%;
    color:white;
    font-weight:bold;
    padding-top:10px;
    padding-right:15px;
    font-size:130%;
}

.detailsPad {
    background-color:#f06d06;
    color:white;
    padding:20px;
    font-weight:bold;
    width:30%;
    max-height:40%;
    font-size:200%;
}

.glyphicon {
    z-index:100;
    margin-right:10px;
}

.glyphicon-circle-arrow-up, .glyphicon-circle-arrow-down {
    float:right;
    font-size:300%;
}

.pullRight {
    float:right;
}
.padRight {
    margin-right:10px;
}