/* CSS declarations go here */
#scoresBar {
    position:fixed;
    top:0%;
    width:100%;
    height:50px;
    background-color:#f06d06;
    color:#fff;
    left:0%;
}

.page {
    width:10%;
    height:100%;
    margin-top:0;
    margin-right:10px;
    display:inline-block;
    color:#fff;
    background-color:#f06d06;
    border-radius:10px;
    padding:10px;
}

.pages {
    max-height:50%;
    padding:10px;
    width:100%;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    position:fixed;
    bottom:0;
}

.title {
    display:block;
    text-align:right;
    float:right;
    width:100%;
    color:white;
    font-weight:bold;
    padding-top:10px;
    padding-right:15px;
    font-size:130%;
}

.detailsPad {
    background-color:#f06d06;
    color:white;
    padding:20px;
    font-weight:bold;
    width:30%;
    max-height:40%;
    font-size:200%;
}

.glyphicon {
    z-index:100;
    margin-right:10px;
}

.glyphicon-circle-arrow-up, .glyphicon-circle-arrow-down {
    float:right;
    font-size:300%;
}

.pullRight {
    float:right;
}
.padRight {
    margin-right:10px;
}


#findForm {

}

#findForm h3:first-of-type input {
    width:2em;
}

input {
    color:#aaa;
    background:none;
    border:none;
    max-width:7em;
    box-shadow:none;
}

input:invalid {
    border-bottom:3px solid #f06d06;
    padding:8px;
    transition:0.2s;
}

input:valid {
    border-bottom:3px solid green;
    padding:3px;
    transition: 0.2s;
}